.custom-link {
    font-size: 0.875rem;        /* text-sm */
    margin-top: 0.5rem;         /* mt-2 */
    display: inline-block;      /* inline-block */
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .custom-link:hover {
    text-decoration: underline; /* hover:underline */
    color: #2563eb;             /* hover:text-blue-600 */
  }


  .input-style {
    width: 100%;
    padding: 10px;
    background-color: #222;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
  }
  
  .button-style {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
