.custom {
    background-color: black;
    color: white;
    min-height: 100vh; /* fix: cover full viewport height initially */
}

.wrapper {
    background-color: black;
    min-height: 100vh; /* fix: ensure it covers full height, even if empty */
}

.button{
    background-color: rgb(248, 101, 101);
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 91rem;
    border: none;
    color:white;
    padding-bottom: 2px;
}
.button:hover{
    background-color: rgb(210, 210, 215);
    color: rgb(23, 17, 17);
}
.client-repo{
    padding-left: 3%;
    color: white;
}
.client-repo:hover{
    color: blue
}
.sasta-nav {
    display: flex;
    gap: 20px;
    /* background-color: #f5f5f5; */
    padding: 3px;
    align-items: center;
    border-radius: 3px;
  }
  .copy-box {
    cursor: pointer;
    /* background-color: #e0e0e0; */
    padding: 4px 6px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    color:rgb(129, 129, 177)
  }
  
  .copy-box:hover {
    background-color: #696666;
  }
  
  .label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .value {
    font-family: monospace;
    color: #333;
  }